body{
    padding: 0px;
    margin: 0px auto;
    background-color: lightgray;
}
header{
    height: 100px;
    background-color: rgb(255, 255, 255);
}
nav{
    line-height: 30px;
    background-color: yellow;
}
section{
    min-height: 300px;
    background-color: blue;
}
article{
    background-color:cyan;
}
footer{
    min-height: 50px;
    background-color: rgb(107, 107, 107);
}
aside{
    padding: 15px 0px;
    background-color: white;
}
.card-body{
    padding: 0px;
}